@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<article class="clearfix entry post-138 page type-page status-publish hentry" id="post-138">
    <h1 class="title">About IBC</h1>

    <div class="entry-content">
        <p style="text-align: justify;"><img width="200" height="120" class="alignleft" alt="" src="http://ibcdogs.org/wp-content/uploads/2015/09/b3.jpg">Beatriz Taques, médica veterinária e proprietária do canil Sunshine Bulls (especializado na criação de Bulldog Americano e Olde English Bulldogge) juntamente com seu marido e sócio, Bruno Monteiro, foram os responsáveis por trazer a IBC ao Brasil.</p>
        <p style="text-align: justify;">Tudo começou em 2000, quando ingressaram oficialmente na cinofilia (Beatriz tinha apenas 14 anos, quando por puro amor, resolveu começar a criar cães). Sempre frequentaram exposições na CBKC, e lideraram por muitos anos o ranking da Raça e Criador (Bulldog Americano), até que um dia resolveram se aprofundar ainda mais no meio, tornando-se juízes e, dessa forma, podendo questionar a CBKC sobre como realizar provas para julgar o grupo 11 (raças não reconhecidas pela FCI). Foi então que tomaram um grande banho de água fria! A resposta obtida foi de que “Não existe prova regulamentar para o 11° grupo”… Na hora ambos sentiram-se enganados, pois todo o mérito que achavam ter conquistado por ganharem tantos anos consecutivos, na mesma hora desapareceu. Afinal, de que valiam tantos títulos, sendo que NENHUM evento havia sido julgado por alguém apto a julgar o grupo 11? E que nem precisavam ao menos ler o padrão da raça? Além de frustração, foi também uma enorme perda de dinheiro…</p>
        <p style="text-align: justify;">Foi quando então tiveram a ideia de trazer um clube para o Brasil, um clube que iria promover eventos com juízes capacitados para essas maravilhosas raças, que estavam até então as margens da cinofilia nacional. Enfim, dar o respeito e crédito que os criadores merecem. Oportunidade essa nunca oferecida pela CBKC, uma vez que foi preciso viajarem muito e investirem uma grande quantia de dinheiro para adquirirem o conhecimento necessário. “E como tudo chega até nós através de muito respeito, amizade, confiança e credibilidade (e não por dinheiro), apareceu a oportunidade de trazermos a IBC para o Brasil, entidade fundada em 2007 por Jose Lopez da Califórnia (um grande amigo que sempre nos ajudou muito na cinofilia)”…</p>
        <p style="text-align: justify;">“A IBC veio para somar, não para dividir. A IBC veio para preencher uma lacuna que estava aberta, não para disputar. A única disputa que fazemos é com nós mesmos, para tentar sempre oferecer o melhor que pudermos para os criadores (estamos dos dois lados da moeda). Viemos para construir pontes, estamos sempre tentando a aproximação entre os criadores e a entidade. Estamos fazendo o que nenhum clube fez até hoje por essas raças. Não fomos oportunistas, nem caímos de “para quedas” na cinofilia… Tudo foi conquistado com muitos anos de experiência, criando, participando e julgando eventos…</p>
        <p style="text-align: justify;">A IBC olha para o criador: tem o menor preço do mercado, não cobra anuidade, mensalidade ou taxa de sócio, e com um excelente tempo de envio de documentos (7 dias uteis). Além de estar iniciando agora na promoção de eventos, possuí juízes no mundo inteiro. Vale lembrar que a IBC tem sede nos USA, Europa e é a única entidade no Brasil com juízes realmente capacitados para julgarem o grupo 11.”</p>
        <p style="text-align: justify;">Quem quiser brigar conosco vai brigar sozinho, nossa filosofia não é bater de frente… Isso é para amadores.</p>
        <p style="text-align: center;">Bem vindos a família IBC!</p>
        <p style="text-align: center;">Equipe IBC.</p>
        <p><img class="aligncenter" alt="" src="http://ibcdogs.org/wp-content/uploads/2015/09/logo-3d.png"></p>
        <hr>
        <p style="text-align: justify;">
            <img class="alignleft" alt="" src="http://ibcdogs.org/wp-content/uploads/2015/09/b1.jpg"> The IBC was started in 2007 by Jose &amp; Tawnya Lopez of MANSTOPPER<span class="text_exposed_show">
                S Kennels, as well as a lot of hard work from Mike and Kim Feaster. Our idea was to create a show circuit for all the Bull breeds we’ve been associated with for decades.. blending the many show circuits ideals into one organization. Organizations like FCI and UKC as well as the many other smaller breed specific breed registries. The goal was to take the best of all these show circuits and blend them into one..<br>
                We came out with a BANG… Had a huge show in Northern California.. at the time the ABKC was also growing and we ended up dual sanctioning MANY shows with them…<br>
                Unfortunately a few years into it the Feasters had chose to no longer continue with dogs and the show circuit slowed to a hault. At that time I had almost every State in the US as well as dozens of other Countries inquiering about putting on IBC shows. I’m not a tech guy.. so the loss of the Featers really slowed down the movement. And it was completely non profit… Being we weren’t even a registry .. the IBC ran on passion alone…
            </span>
        </p>
        <p style="text-align: justify;"><span class="text_exposed_show">So I partnered with my good friends Beatriz and Bruno from Sunshine Bulls in Brazil… They will do great with it!!. They are among the most honest and talented dog people I’ve met in my many years in these breeds!! Now we are expanding to other countries, and in 2015 we decided to start a registration program to support breeds not recognized by FCI.</span></p>
        <p style="text-align: justify;">
            <span class="text_exposed_show">
                <br>
                I wish the future of the IBC the best…
            </span>
        </p>
        <p><img class="aligncenter" alt="" src="http://ibcdogs.org/wp-content/uploads/2015/09/logo-3d.png"></p>
    </div> <!-- .entry-content -->
</article>