@{
    ViewBag.Title = "Contact";
}
<div class="container-fluid">
    <div class="row">
        <h2>@ViewBag.Title.</h2>


        <div class="col-sm-8">
            <address>
                <img width="50" height="30" class="alignleft wp-image-155" alt="b1" src="../Images/b1.jpg"> &nbsp; 6501 Kelsey Canyon, Placerville CA 95667, Phone: 01 510-302-9461
            </address>

            <address>
                <img width="50" height="30" class="alignleft wp-image-156" alt="b2" src="../Images/b2.jpg"> &nbsp; Weenderstraat 40, 9541 TC Vlagtwedde / NL, Phone: 0031-6546-22023
            </address>

            <address>
                <img width="50" height="30" class="alignleft wp-image-157" alt="b3" src="../Images/b3.jpg">&nbsp; R. Msn Batistoni, 243 – Tijuca 20521-270, Phone: 55 21-98105-5725
            </address>
        </div>

        <div class="col-sm-1">
            <img alt="logo 3d" src="../Images/logo_Small.png" srcset="../Images/logo_Small.png 150w, ../Images/logo_Small.png 184w, ../Images/logo_Small.png 300w" sizes="(max-width: 300px) 100vw, 300px">
        </div>
    </div>
</div>
